.firstpage {
  width: 100%;
  position: absolute;

  &__intro {
    width: 50%;
    margin-top: 12rem;
    margin-left: 10rem;

    &-headline {
      font-size: 3rem;
    }
  }

  &__content {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    margin-top: 10rem;

    &-text {
      font-size: 1.1rem;
      margin-bottom: 5rem;
      margin-left: 3rem;
      margin-right: 3rem;
    }

    &-img {
      height: 100%;
      margin: auto 3rem;
    }

    &-img > img {
      width: 100%;
      height: 100%;
    }
  }
}
