.secondpage {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 5rem 2rem;

  &__text {
    font-size: 1.3rem;
  }

  &__contents {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    font-weight: 900;

    &-icon {
      width: 50%;
      margin: 2.5rem 0 0 0;
      padding: 0.5rem 0 0 4.5rem;
    }
  }
}
